img#twitter-image{
    width: 30%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.main-content p{
    margin:5%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}