.inner h4 {
  max-width: 600px;
  font-size: 160%;
  margin-bottom: .7em;
  margin: auto;
  text-align: left;
  display: -webkit-box;
  display: block;
}

.inner .member-name {
  font-size: 120%;
  font-weight: bold;
}

.inner .member-img {
  float: left;
  position: relative;
  top: 10px;
  bottom: 10px;
  max-height: 32%;
  max-width: 32%;
}

.inner .member-text {
  height: 100%;
  float: right;
  word-wrap: break-word;
  width: 68%;
  position: relative;
  left: 20px;
  border-bottom: solid 1.5px #666;
}

.member-url {
  color: blue;
}

.member {
  height: 200px;
  width: 100%;
  max-width: 600px;
  font-size: small;
  margin-bottom: .7em;
  margin: auto;
  text-align: left;
  display: -webkit-box;
  display: block;
}
