
/*Zen Kaku Gothic New*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
/*M PLUS Rounded 1c*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap');


:root {
    --HeaderHeight: 60px;
    --HamburgerContentButtonHeight: 56px;
    --HamburgerContentFontSize: 16px;
    --CenterBlockMaxWidth: 500px;
    --MainFont: "Zen Kaku Gothic New";
    --HeadFont: "M PLUS Rounded 1c";

    @media screen and (min-width:1200px){
        --HeaderHeight: 80px;
        --CenterBlockMaxWidth: 800px;
    }
}

/*ダークテーマ*/
@media (prefers-color-scheme: dark) {
    :root {
        --VoidColor: #000000ff;
        --BackgroundColor: #151515ee;
        --BackgroundColorSolid: #151519ff;
        --BackgroundColorGradient: #090912aa;
        --BorderColor: white;
        --Color: #eeeeeeff;
        --DisableColor: #888888ff;
        --HoverButtonColor: #00000022;
        --ShadowColor: #000000ff;
        --PhotoBackgroundColor: #000000ff;
        --UIColorInvert: 20%;
        --ScrollbarTrackColor: #333333;
        --ScrollbarThumbColor: #555555;
        --ScrollbarThumbHoverColor: #888888;
    }
    a:link { color: #1c9dd8; }
    a:visited { color: #9649ce; }
    a:hover { color: #4641df; }
    a:active { color: #ff8000; }
}

/*ライトテーマ*/
@media (prefers-color-scheme: light) {
    :root {
        --VoidColor: #ffffffff;
        --BackgroundColor: #eeeeeeee;
        --BackgroundColorSolid: #ddddddff;
        --BackgroundColorGradient: #ffffffcc;
        --BorderColor: #222222ff;
        --Color: #232323ff;
        --DisableColor: #888888ff;
        --HoverButtonColor: #00000022;
        --ShadowColor: #222222aa;
        --PhotoBackgroundColor: #444444ff;
        --UIColorInvert: 80%;
        --ScrollbarTrackColor: #ffffff;
        --ScrollbarThumbColor: #bbbbbb;
        --ScrollbarThumbHoverColor: #888888;
    }
    a:link { color: #0066d3; }
    a:visited { color: #6b00b8; }
    a:hover { color: #0700db; }
    a:active { color: #ff8000; }
}

